<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/sign_in.css">
    <title>Document</title>
</head>
<body>
    <h2>로그인</h2>
    username : <input type="text" class="input_box" id="inputUsername" placeholder="username">
    password : <input type="password" class="input_box" id="inputPassword" placeholder = "password">
    <button class="sign_in_button" id="sign_in_btn" onclick="sign_in()">Sign in</button>
</body>
<script src="../static/js/sign_in.js"></script>
</html>