<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/sign_page.css">
    <title>Document</title>
</head>
<body>
    <div class="wrap">
    <div class="join_header">
    </div>
    <div class="join_body">
        <div class="jb_sign_in">
            <div class="jb_si_title">로그인</div>
            <div class="jb_si_username">
                <div class="jb_si_un_text">아이디</div>
                <input type="text" class="jb_si_un_inputusername" id="inputUsername" placeholder="username">
            </div>
            <div class="jb_si_password">
                <div class="jb_si_pw_text">비밀번호</div>
                <input type="password" class="jb_si_pw_inputpassword" id="inputPassword" placeholder = "password">
            </div>
            <div class="jb_si_button">
                <button class="sign_in_button" id="sign_in_btn" onclick="sign_in()">로그인</button>
            </div>
        </div>
        <biv class="empty_box">
            <div class="eb_line_right"></div>
            <div class="eb_line_left"></div>
        </biv>
        <div class="jb_sign_up">

        </div>
    </div>
</body>
</html>