<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/sign_up.css">
    <title>Document</title>
</head>
<body>
    <div class="first_box">
        <h2>회원가입</h2>
        username : <input type="text" class="input_box" id="inputUsername" placeholder="username">
        password : <input type="password" class="input_box" id="inputPassword" placeholder = "password">
        nickname : <input type="text" class="input_box" id="inputNickname" placeholder="nickname">
    </div>
    <button class="sign_up_button" id="sign_up_btn" onclick="sign_up()">Sign up</button>
</body>
<script src="../static/js/sign_up.js"></script>
</html>