@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
}

body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}


.main_header {
    position: relative;
    top: 0;
    width: 300px;
    height: 190px;
    background-image: url("images/friend.png");
    background-size: cover;
    background-position: center;
    margin: auto;
    z-index: 1;
}

.header_btn_box {
    display: flex;
}

.header_btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 91.5%;
    top: 2%;

}

.hbb_cur_user {
    margin-left: 10px;
    font-size: 23px;
}

.hbb_cur_user:hover {
    cursor: pointer;
}

.hbb_recommend_follow {
    color: #CFDD77;
    font-size: 45px;

}

.hbb_recommend_follow:hover {
    cursor: pointer;
}

#main_body {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
    background-color: #77A0DD;
    display: flex;
}

.mb_left {
    padding: 7.3rem 0 0 7rem;
    width: 60%;
    overflow: scroll;
}

.mb_left::-webkit-scrollbar {
    display: none;
}

.image_wrap_box {
    width: 100%;
    height: 1100px;
    flex-wrap: wrap;
    gap: 7% 15%;
    display: flex;
    justify-content: start;
    align-content: flex-start;
}

.img_heart_icon_red {
    color: red;
}

.m_l_img0_box {
    width: 450px;
}

.m_l_img0_header_box {
    margin: 0 0.3rem;
    color: white;
    transform: rotate(-4deg);
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.m_l_img0_back {
    display: flex;
}

.img_three_dots {
    margin-left: 5px;
    position: relative;
    top: 3px
}

.img_three_dots:hover {
    cursor: pointer;
}

.m_l_img0 {
    border-radius: 10px;
    transform: rotate(-4deg);
    width: 100%;
    height: 350px;
    margin: 0 1rem 1rem 1rem;
}

.m_l_img0_title {
    text-align: center;
    line-height: 40px;
    font-size: 23px;
    left: 1.7rem;
    top: -3.25rem;
    position: relative;
    transform: rotate(-4deg);
    width: 200px;
    height: 40px;
    background-color: white;
    opacity: 0.9;
    border-radius: 0 0 0 10px;
}

.m_l_img1_box {
    width: 450px;
}

.m_l_img1_header_box {
    width: 150px;
    margin: 0 0.3rem;
    color: white;
    transform: rotate(-35deg);
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    position: relative;
    top: 2rem;
}

.m_l_img1_back {
    display: flex;
}


.m_l_img1 {
    margin: 0 1rem 1rem 1rem;
    width: 400px;
    height: 400px;
    border-radius: 100%;
}

.m_l_img1_title {
    text-align: center;
    line-height: 40px;
    font-size: 23px;
    left: 9rem;
    top: -6rem;
    position: relative;
    width: 200px;
    height: 40px;
    background-color: white;
    opacity: 0.9;
    transform: rotate(-13deg);
    border-radius: 10px;
}


.m_l_img2_box {
    width: 450px;

}

.m_l_img2_header_box {
    width: 450px;
    margin: 0 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.m_l_img2_back {
    display: flex;
}

.m_l_img2 {
    margin: 0 1rem 1rem 1rem;
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.m_l_img2_title {
    text-align: center;
    line-height: 40px;
    font-size: 23px;
    left: 1rem;
    top: -3.8rem;
    position: relative;
    width: 200px;
    height: 40px;
    background-color: white;
    opacity: 0.9;
    border-radius: 0 0 0 10px;
}

.m_l_img3_box {
    width: 450px;

}

.m_l_img3_header_box {
    transform: rotate(3deg);
    width: 450px;
    margin: 0 1.5rem;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.m_l_img3_back {
    display: flex;
}

.m_l_img3 {
    margin: 0 1rem 1rem 1rem;
    width: 450px;
    height: 350px;
    border-radius: 10px;
    transform: rotate(3deg);
}

.m_l_img3_title {
    left: 0.5rem;
    top: -4.2rem;
    text-align: center;
    line-height: 40px;
    font-size: 23px;
    position: relative;
    width: 200px;
    height: 40px;
    background-color: white;
    opacity: 0.9;
    transform: rotate(3deg);
    border-radius: 0 0 0 10px;
}

.mb_divider {
    position: fixed;
    left: 65%;
    top: 35%;
    border-left: 1px solid black;
    width: 1px;
    height: 30rem;
}

.mb_right {
    position: fixed;
    left: 70%;
    top: 25%;
}


.mb_r_profile_main {
    width: 500px;
    height: 660px;
    border-radius: 10px;
}

.mb_r_profile_header_box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: white;
}

.mb_r_profile_header {
    font-size: 26px;
    margin-right: 1rem;
}

.mb_r_my_img {
    width: 530px;
    height: 650px;
    border-radius: 10px 10px 0 0;
}

.mb_r_title {
    position: relative;
    top: -0.5rem;
    background-color: white;
    border-radius: 0 0 10px 10px;
    font-size: 23px;
    padding: 1rem;
    text-align: center;
}

.heart_icon {
    color: white;
    font-size: 19px;
}

.mb_plus_btn {
    position: fixed;
    color: white;
    font-size: 100px;
    top: 90%;
    left: 95%
}

.mb_plus_btn:hover {
    cursor: pointer;
}

/* 이메일 모달 */
.email_modal_wrapper {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}

.email_modal {
    z-index: 3;
    padding-top: 15px;
    font-size: 16px;
    position: absolute;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
    background-color: rgb(240, 240, 240);
    opacity: 0.8;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#em_ef_text {
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    height: 1.2rem;
    padding: 8px;
    border-radius: 10px;
}

.input_style {
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
}

.em_content_box {
    width: 80%;
    margin: 0.3rem;
}

#em_ec_textarea {
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
}

.mb_r_phb_back {
    display: flex;
    align-items: center;
    color: white;
}

/* 업로드 모달 */
.modal_main_wrapper {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: none;
    justify-content: center;
}

.mc_container {
    border-radius: 20px;
    margin-top: 190px;
    background-color: rgb(210, 206, 243);
    margin-bottom: 200px;
    width: 70%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_buttonbox {
    margin-top: 100px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.modal_buttonbox button {
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
}


.mb_file_select:hover {
    background: rgb(199, 199, 245);
    color: white;
}

.modal_buttonbox button span {
    font-size: 21px;
    font-weight: bold;
}

.mb_file_input {
    visibility: hidden;

}

.mb_file_select {
    background-color: white;
    border: solid black;
    position: absolute;
    top: 34%;
    padding-top: 15px;
    width: 200px;
    height: 38px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    left: 43.5%;
    color: black;
}

.mb_up_button {
    position: absolute;
    border: solid black !important;
    width: 200px;
    height: 60px !important;
    top: 58%;
    background-color: white !important;
    left: 43.5%;
    color: black;
}

.mb_back_button {
    border: solid black !important;
    position: absolute;
    top: 65%;
    left: 49%;
    width: 200px;
    height: 60px !important;

}

.mc_modal {
    background-color: #FFFFFF;
    background-position: cover;
    width: 500px;
    height: 500px;
}



.mc_modal img {
    background-position: center;
    width: 500px;
    height: 500px;
}

.ml_modal {
    margin-bottom: 210px;
    background-color: #FFFFFF;
    background-size: 500px;
    background-position: center;
    width: 500px;
    height: 500px;
}
.ml_modal img{
    width: 500px;
    height: 500px;
}
.ml_title {
    border: none;
    outline: none;
    position: absolute;
    top: 67.5%;
    width: 300px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    left: 63.7%;
    font-size: 18px;
    padding-top: 5px;
}

.ml_content {
    border: none;
    outline: none;
    position: absolute;
    top: 72%;
    left: 59.9%;
    width: 500px;
    height: 60px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    padding-top: 40px
}

.mb_char_choice {
    position: absolute;
    background-color: white;
    border: solid black !important;
    outline: none;
    width: 200px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    top: 41%;
    left: 48.8%;
    color: black;
}

.mb_char_choice:hover {
    background: rgb(199, 199, 245);
    color: white;
}

.mb_char_choice option:hover {
    background: rgb(199, 199, 245);
    color: white;
}

.modal_buttonbox button:hover {
    background: rgb(199, 199, 245) !important;
    color: white;
}

.mb_title_button {
    background-color: white !important;
    border: solid black !important;
    position: absolute;
    outline: none;
    width: 200px;
    height: 60px !important;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    top: 44%;
    left: 43.5%;
    color: black;
}

.mb_content_button {
    background-color: white !important;
    border: solid black !important;
    position: absolute;
    outline: none;
    width: 200px;
    height: 60px !important;
    text-align: center;
    font-size: 20px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    top: 51%;
    left: 48.8%;
    color: black;
}

.mb_container {
    background-color: rgb(46, 45, 45);
    width: 400px;
    height: 600px;
    border-radius: 10px;
}

/* 수정 모달 */
#edit_modal_wrapper {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: none;
}

#edit_modal {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    z-index: 3;
    position: absolute;
    width: 200px;
    height: 70px;
    border-radius: 10px;
}

.edit_modal_btn:hover {
    cursor: pointer;
}

.edit_modal_red {
    color: red;
    cursor: pointer;
}

/* 추천 팔로워 모달 */
.rec_follower_modal_wrapper {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: none;
}

.rec_follower_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 300px;
    border-radius: 10px;
    position: absolute;
    top: 7.8%;
    left: 85%;
    overflow-y: auto;
}

.rfm_nametag {
    justify-content: space-between;
    display: flex;
    text-align: center;
    width: 260px;
    border-bottom: 1px solid black;
    padding: 15px 20px 15px 20px;
}

.rfm_nametag::-webkit-scrollbar {
    display: none;
}

.rfm_follow_btn {
    color: #CFDD77;
}

.rfm_follow_btn:hover {
    cursor: pointer;
}