* {
    font-family: 'Gamja Flower', cursive;
}
html, body {
    margin :0;
    width: 100%;
    height: 100%;
    background-color: rgb(221, 214, 203);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}


.h_bear{
    position: relative;
    top: 0;
    width:300px;
    height:190px;
    background-image: url("friend.png");
    background-size: cover;
    background-position: center;
    margin: auto;
    z-index:3;
}

.myimg_list{
    width: 97%;
    margin-bottom: 10px;
    background-position: center;
    text-align: center;
    position: absolute;
    align-items: center; 
    top: 100px;
    margin: 10px auto;
    background-color: rgb(193, 173, 173);
    border-radius: 10px;
    border: 3px solid;
    
}

.ml_div{
    margin: 70px 0 30px 0;
} 

.ml_same{
    position: relative;
    margin: 23px;
    border-radius: 10px;
}

.ml_1{
    transform: rotate(5deg);
    width: 32rem;
    height: 32rem;
    border: 5px dashed;
}

.ml_2{
    width: 35rem;
    height: 26rem;
    transform: rotate(-14deg);
    border: 5px solid;
}

.ml_3{
    transform: rotate(0deg);
    width: 45rem;
    height: 30rem;
    border: 5px solid;
}

.ml_4{
    transform: rotate(8deg);
    width: 26rem;
    height: 21rem;
    border: 5px dashed;
}


/* 모달 */
button {
    all: unset;
    background-color: steelblue;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    top: 85%;
    left: 90%;
    color: #77A0DD;
    width: 3.9rem;
    height: 3.9rem;
    border-radius: 70px;
    font-size: 4rem;
    border: 3px solid;

}
.modal {
    position: fixed;
    display: flex;
    align-items: center; 
    line-height: 45px;
    width: 100%;
    height: 100%;
    top: 17%;
    left: 71%;
}
.modal_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}
.modal_content {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #77A0DD;
    opacity:0.9;
    padding: 10px;
    border-radius: 15px;
    top: 0;
    width: 17%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
}

.hidden {
    display: none;
}

.mc_text{
    border-bottom: 1px solid lightgrey;
}
.mc_link{
    text-decoration: none;
    color: black;
    cursor: pointer;
}







/* 업로드 모달 */
.modal_main_wrapper {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: none;
    justify-content: center;
}

.mc_container {
    border-radius: 20px;
    margin-top: 190px;
    background-color: rgb(210, 206, 243);
    margin-bottom: 200px;
    width: 70%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_buttonbox {
    margin-top: 100px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.modal_buttonbox button {
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
}


.mb_file_select:hover {
    background: rgb(199, 199, 245);
    color: white;
}

.modal_buttonbox button span {
    font-size: 21px;
    font-weight: bold;
}

.mb_file_input {
    visibility: hidden;

}

.mb_file_select {
    background-color: white;
    border: solid black;
    position: absolute;
    top: 30%;
    padding-top: 15px;
    width: 200px;
    height: 38px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    left: 44.5%;
    color: black;
}

.mb_up_button {
    position: absolute;
    border: solid black !important;
    width: 200px;
    height: 60px !important;
    top: 54%;
    background-color: white !important;
    left: 44%;
    color: black;
}

.mb_back_button {
    border: solid black !important;
    position: absolute;
    top: 61%;
    left: 49%;
    width: 200px;
    height: 60px !important;

}

.mc_modal {
    background-color: #FFFFFF;
    background-position: cover;
    width: 500px;
    height: 500px;
}



.mc_modal img {
    background-position: center;
    width: 500px;
    height: 500px;
}

.ml_modal {
    margin-bottom: 80px;
    background-color: #FFFFFF;
    background-size: 500px;
    background-position: center;
    width: 500px;
    height: 500px;
}

.ml_title {
    border: none;
    outline: none;
    position: absolute;
    top: 67.5%;
    width: 300px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    left: 63.7%;
    font-size: 18px;
    padding-top: 5px;
}

.ml_content {
    border: none;
    outline: none;
    position: absolute;
    top: 72%;
    left: 59.9%;
    width: 500px;
    height: 60px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    padding-top: 40px
}

.mb_char_choice {
    position: absolute;
    background-color: white;
    border: solid black !important;
    outline: none;
    width: 200px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    top: 37%;
    left: 49%;
    color: black;
}

.mb_char_choice:hover {
    background: rgb(199, 199, 245);
    color: white;
}

.mb_char_choice option:hover {
    background: rgb(199, 199, 245);
    color: white;
}

.modal_buttonbox button:hover {
    background: rgb(199, 199, 245) !important;
    color: white;
}

.mb_title_button {
    background-color: white !important;
    border: solid black !important;
    position: absolute;
    outline: none;
    width: 200px;
    height: 60px !important;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    top: 40%;
    left: 43.5%;
    color: black;
}

.mb_content_button {
    background-color: white !important;
    border: solid black !important;
    position: absolute;
    outline: none;
    width: 200px;
    height: 60px !important;
    text-align: center;
    font-size: 20px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    top: 47%;
    left: 49%;
    color: black;
}

.mb_container {
    background-color: rgb(46, 45, 45);
    width: 400px;
    height: 600px;
    border-radius: 10px;
}


