@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    ;
}

body{
    margin: 0;
    overflow: hidden;
}
.h_bear{
    position: absolute;
    top: 0;
    left: 42.65%;
    width: 300px;
    height: 190px;
    background-image: url(friend.png);
    background-size: cover;
    background-position: center;
    margin: auto;
    z-index: 3;
}
.detail_container{
    background-color: rgb(221, 214, 203);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.dc_box{
    display: flex;
    border: 1px solid rgb(235,235,235);
    border-radius: 15px;
    background-color: white;
    width: 1100px;
    height: 600px;
}

.dc_event_img{
    background-color: black;
    width: 800px;
    height: 100%;
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.dc_event_img img{
    width: 100%;
    height: 100%;
}

.dc_desc_box{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 100%;
}

.db_title{
    border-radius: 10px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 21px;
    font-weight: 700;
}

.db_content {
    border-top: 1px solid rgb(235,235,235);
    width: 95.7%;
    height: 280px;
    padding-top: 30px;
    padding-left: 30px;
    text-align: left;
    font-size: 20px;
}

.db_comment_box {
    border-top: 1px solid rgb(235,235,235);
    position: relative;
    padding-left: 30px;
    width: 95.4%;
    height: 450px;
    overflow-y: scroll;
}
.db_comment_box::-webkit-scrollbar{
    display: none;
}
.db_comment {
    font-size: 18px;
    margin-top: 15px;
    display: flex;
    margin-bottom: 30px;
}
.db_comment_comment{
    width: 76%;
}
.db_comment_edit{
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    color: violet;
}
.edit_comment{
    width: 100%;
    display: flex;
}
.edit_comment_textarea{
    padding-left: 5px;
    resize: none;
    border-radius: 15px;
    padding: 10px 5px 5px 5px;
    border : 1px solid rgb(230,229,230)
}
.edit_comment_button{
    outline: none;
    border: none;
    background-color: white;
    width: 20%;
    color: violet;
}
.comment_and_date{
    display: flex;
    align-items: center;
}
.comment_created_date{
    margin-left: 10px;
    color: violet;
    font-size: 13px;
}
.db_comment_delete{
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    color: violet;
}
.fa-bookmark  {
    cursor: pointer;
    position: absolute;
    top: 25.5%;
    left: 76.7%;
}

.fa-heart{
    cursor: pointer;
    position: absolute;
    top: 25.5%;
    left: 75%;
}
.db_input {
    width: 100%;
    height: 60px;
    border-top: 1px solid black;
}

.db_input input{
    border: none;
    outline: none;
    width: 94.8%;
    height: 88%;
    padding-top: 4px;
    padding-left: 20px;
    font-size: 18px;
    border-bottom-right-radius: 15px;
}
.db_button {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    top: 83.5%;
    left: 75%;
    outline: none;
    border: none;
    background-color: white;
    position: absolute;
    width: 50px;
    height: 20px;
}
#fill_bookmark{
    display: none;
}

#fill_like{
    display: none;
}