.new_comment{
    resize: none;
}
.db_comment_box {
    border-top: 1px solid gray;
    position: relative;
    padding-left: 30px;
    width: 95.4%;
    height: 450px;
    overflow-y: scroll;

}
.db_comment {
    font-size: 18px;
    margin-top: 15px;
    display: flex;
}
.db_comment_comment{
    width: 80%;
}
.db_comment_edit{
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    color: violet;
}
.db_comment_delete{
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    color: violet;
}